.personalinfo_nav ul li a span{
  margin:0px 7px;
  }
  .personalinfo_nav{
  height:60px;
  }
  .personalinfo_nav ul li a {

    margin:0px 10px;

  }
  .personalinfo_nav .navbar-nav .nav-link {
      color:#fff;
  }
  .navbar_light{
    background-color:#fff;
  }
  .navbar_light .navbar-brand{
    font-size: 1rem;
      font-weight: bold;
  }
  .navbar_light ul{
    margin-left:13%;
  }
  .navbar_light ul li a {

    margin:0px 16px;

  }

  .img_section img{
    width:100%;
    height:120px;
  }
  .side_navigation .list-group-item{
    border:unset;
    color:#212529;
    text-decoration:none;
  }


  .table_section table td span{
    margin:0px 5px;

  }
